@mixin clearfix{
  &::after{
    content: "";
    display: table;
    clear:both;
  }
}
@mixin absCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER

//0 -- 600:  Phone
//600 -- 900: tab-port
//900 -- 1200: tab-land
//1200 -- 1800: our normal style
//1800+ : big desktop


@mixin respond($breakpoint){
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {@content}; //600px
  }
  @if $breakpoint == tab-1 {
    @media (max-width: 56.25em) {@content}; //900px
  }
  @if $breakpoint == tab-2 {
    @media (max-width: 75em) {@content};  //1200px
  }
  @if $breakpoint == big {
    @media (min-width: 112.5em) {@content};  //1800px
  }
}