*,
*::after,
*::before{
  margin:0;
  padding:0;
  box-sizing: inherit;
}
html{
  //this is what defines 1 ram
  font-size: 62.5%;

  @include respond(tab-2){
    font-size: 56.25%;
  }
  @include respond(tab-1){
    font-size: 50%;
  }
  @include respond(phone){
    font-size: 40%;
  }
  @include respond(big){
    font-size: 75%;
  }
}
body{
  box-sizing: border-box;

  @include respond(tab-1){
    padding: 0%;
  }
}
